# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# macOS
.DS_Store

# Logs
logs/
*.log

# Environment files
.env
.env.*

# Build output
dist/
build/
out/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.swp
*.tmp
*.bak
*.orig